{% extends 'base.html.twig' %}

{% block title %} All programs {% endblock %}

{% block body %}
<h1> Toutes les séries de la tables program :</h1>

{% for program in programs %}
    <article>
        <div class="line"><h2>{{ program.title }}</h2><h2 class="cat">{{ program.category.name }} </h2></div>
        <p>{{ program.synopsis }}</p>
        <a class="fiche" href="{{ path("program_show", { program: program.id }) }}">Voir la fiche</a>
    
{% else %}
    Aucune série trouvé.
    </article>
    {% endfor %}

    <a class="retour" href="{{path('app_index') }}">
        retour à l'accueil
        </a>
{% endblock %}

{# {{loop.index}} #}