{% extends 'base.html.twig' %}

{% block title %} Les séries{% endblock %}

{% block body %}
<h1> Liste des séries</h1>

{% for program in programs %}
    <article>
        <div class="line"><img src="{{ program.poster }} "><h2>{{ program.title }}</h2><h2 class="cat"><a href="{{ path('category_show', { slug: program.category.slug }) }}"> {{ program.category.name|default('categorie non disponible') }}</a></h2></div>
        
        <p class="synopsis">{{ program.synopsis }}</p>
        <a class="fiche" href="{{ path("program_show", { slug: program.slug }) }}">Voir la fiche</a>
        <div class="links">
        <a class="trailer" href="{{path('program_show_trailer', { id: program.id }) }}">Bande annonce</a>
        <a class="trailer" href="{{path('program_show_trailer1', {id: program.id }) }} ">Bande annonce 2</a>
        <a class="trailer" href="{{path('user_index') }} ">Lien externe à program</a>
        </div>
        <div class ="mod"><a href="{{ path('program_edit', {'slug': program.slug}) }}">Modifier</a></div>
        
    {{ include('program/_delete_form.html.twig') }}</p>
    <div class="separation"></div>
     
{% else %}
    Aucune series est présente dans la base de données du site.
    
    {% endfor %}
   
</article>
    <a class="retour" href="{{path('app_index') }}">
        retour à l'accueil
        </a>
{% endblock %}

{# {{loop.index}} #}

 {# <a href="{{ path('category_show', { category: category.id }) }}">{{ program.category.name|default('Aucune catégorie attribuée') }}</a> #}

 {# <a href="/category/{{ program.category.id }}">{{ program.category.name|default('Aucune catégorie attribuée') }}</a> #}

