{% extends 'base.html.twig' %}

{% block title %} Series # {{ program.id }} {% endblock %}

{% block body %}

    
    {% for episode in season.episodes %}
        <p>Titre :  {{ episode.title }} <p>
        <p>Description : {{ episode.synopsis }} <p>
        <a href="{{ path("program_episode_show", { program: program.id, season: season.id, episode: episode.id }) }}">Information sur l'épisode {{ episode.number}}</a>
        {% endfor %}

    <p><a href="{{ path("program_show", { program: program.id }) }}">
        Retour à la liste des saisons.
    </a></p>
{% endblock %}