{% extends 'base.html.twig' %}

{% block title %} Series # {{ program.id }} {% endblock %}

{% block body %}

    <article>
        <img src="{{ program.poster }} "alt="{{ program.title }} ">
        <h1>{{ program.title }}<h1>
        <p>{{ program.synopsis }}</p>
        
        <p>Categorie : {{ program.category.name|default('Catégorie non disponible') }}</p>
        
    </article>
    
    {% for season in program.seasons %}
        <p>saison{{ season.number }} Année de diffusion :{{ season.year }}<p>
        <p>{{ season.description }}<p>
        <p><a href="{{ path("program_season_show", { season: season.id, program: program.id }) }}">Liste des épisodes de la saison :{{season.number}}</a>

        
        {% endfor %}

    <a href="{{ path('program_index') }}">
        Retour à la liste des programes.
    </a>

{% endblock %}